<h1>Shop#index</h1>
<p>Find me in app/views/shop/index.html.erb</p>



<% if user_signed_in? %>
  <%= current_user.email %>
<% else %>
  <%= link_to "ログイン", new_user_session_path %>
  <%= link_to "サインイン", new_user_registration_path %>
<%end%>


